<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<title>Quiz</title>
	</head>
	<body>
		<img src="images/author.png" alt="Kirby" height="160" width="160">
		<video width="240" height="160" controls>
			<source src="/images/kirby.mp4" type="video/mp4">
		</video>
		<h4>Luis López Olmos</h4>
	</body>
</html>

